<a href="https://colab.research.google.com/github/Sunshine0527/Prmn2023a/blob/main/4_Answer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [ ]:
# 入力用
import random
list=[]
for i in range(5):
 i=random.randrange(10,2800,10)
 i=i+2220000
 i='b'+str(i)
 list.append(i)

print(list)

['b2222280', 'b2220830', 'b2220210', 'b2220320', 'b2220020']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [ ]:
# 入力用
import random
list1=[]
list2=[]
listsum=[]
while len(list1) < 5: 
 i=random.randint(1,10)
 if not i in list1:
  list1.append(i)
while len(list2) < 5: 
 j=random.randint(1,10)
 if not j in list2:
  list2.append(j)
for k in range(5):
 k=list1[k]+list2[k]
 listsum.append(k)  

print('1つ目のリスト:{}'.format(list1)) 
print('2つ目のリスト:{}'.format(list2)) 
print('足し合わせたリスト:{}'.format(listsum))

1つ目のリスト:[1, 7, 4, 8, 9]
2つ目のリスト:[7, 9, 3, 1, 8]
足し合わせたリスト:[8, 16, 7, 9, 17]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [ ]:

 todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
 ]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [ ]:
# 入力用

import random
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

random.shuffle(todohuken_list)
print(todohuken_list)
list4=[]
for i in range(0,47,4):
 list4.append(todohuken_list[i:i+4])
 
 
print(list4)

['沖縄県', '福井県', '新潟県', '鳥取県', '広島県', '岡山県', '福岡県', '京都府', '長野県', '鹿児島県', '香川県', '東京都', '石川県', '奈良県', '宮崎県', '三重県', '群馬県', '徳島県', '埼玉県', '大分県', '福島県', '滋賀県', '佐賀県', '富山県', '山形県', '愛知県', '兵庫県', '愛媛県', '高知県', '長崎県', '山口県', '岩手県', '岐阜県', '千葉県', '北海道', '山梨県', '大阪府', '神奈川県', '和歌山県', '宮城県', '青森県', '熊本県', '茨城県', '島根県', '栃木県', '秋田県', '静岡県']
[['沖縄県', '福井県', '新潟県', '鳥取県'], ['広島県', '岡山県', '福岡県', '京都府'], ['長野県', '鹿児島県', '香川県', '東京都'], ['石川県', '奈良県', '宮崎県', '三重県'], ['群馬県', '徳島県', '埼玉県', '大分県'], ['福島県', '滋賀県', '佐賀県', '富山県'], ['山形県', '愛知県', '兵庫県', '愛媛県'], ['高知県', '長崎県', '山口県', '岩手県'], ['岐阜県', '千葉県', '北海道', '山梨県'], ['大阪府', '神奈川県', '和歌山県', '宮城県'], ['青森県', '熊本県', '茨城県', '島根県'], ['栃木県', '秋田県', '静岡県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

['Chitose,25', 'Hakodate,23', 'Hokudai,105', 'Muroran,74']

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [ ]:
# 入力用
import re
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

n_list=sorted(university_list,key=lambda x: int(re.search(r"\d+",x).group()))
print(n_list)

['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [7]:
# 入力用
FB_list=[]
for i in range(1,101):
  if i%3==0 and i%5==0:
    FB_list.append('FizzBazz')
  elif i%3==0:
    FB_list.append('Fizz')
  elif i%5==0:
    FB_list.append('Bazz')  
  else:
    FB_list.append('others')

print(FB_list)
print('FizzBuzzの数:{}'.format(FB_list.count('FizzBazz')))    
print('Fizzの数:{}'.format(FB_list.count('Fizz'))) 
print('Buzzの数:{}'.format(FB_list.count('Bazz'))) 
print('othersの数:{}'.format(FB_list.count('others')))

['others', 'others', 'Fizz', 'others', 'Bazz', 'Fizz', 'others', 'others', 'Fizz', 'Bazz', 'others', 'Fizz', 'others', 'others', 'FizzBazz', 'others', 'others', 'Fizz', 'others', 'Bazz', 'Fizz', 'others', 'others', 'Fizz', 'Bazz', 'others', 'Fizz', 'others', 'others', 'FizzBazz', 'others', 'others', 'Fizz', 'others', 'Bazz', 'Fizz', 'others', 'others', 'Fizz', 'Bazz', 'others', 'Fizz', 'others', 'others', 'FizzBazz', 'others', 'others', 'Fizz', 'others', 'Bazz', 'Fizz', 'others', 'others', 'Fizz', 'Bazz', 'others', 'Fizz', 'others', 'others', 'FizzBazz', 'others', 'others', 'Fizz', 'others', 'Bazz', 'Fizz', 'others', 'others', 'Fizz', 'Bazz', 'others', 'Fizz', 'others', 'others', 'FizzBazz', 'others', 'others', 'Fizz', 'others', 'Bazz', 'Fizz', 'others', 'others', 'Fizz', 'Bazz', 'others', 'Fizz', 'others', 'others', 'FizzBazz', 'others', 'others', 'Fizz', 'others', 'Bazz', 'Fizz', 'others', 'others', 'Fizz', 'Bazz']
FizzBuzzの数:6
Fizzの数:27
Buzzの数:14
othersの数:53